body {
    margin: 0;
  }
  
  .chicken,
  .chicken .head,
  .chicken .head .beak,
  .chicken .head .beakbeak,
  .chicken .head .eye,
  .chicken .head .body,
  .chicken .head .wing,
  .chicken .head .wing.left-wing,
  .chicken .head .wing.right-wing,
  .chicken .head .tail,
  .chicken .head .leg,
  .chicken .head .leg.left-leg,
  .chicken .head .leg.right-leg,
  .chicken .head .feather,
  .chicken .head .feather.left-feather,
  .chicken .head .hair,
  .chicken .head .hairhair {
    margin: 0;
    padding: 0;
  }
  